[submodule "refs/ndisapi-go"]
	path = refs/ndisapi-go
	url = https://github.com/wiresock/ndisapi-go.git
[submodule "refs/ndisapi"]
	path = refs/ndisapi
	url = https://github.com/wiresock/ndisapi.git
[submodule "refs/proxifyre"]
	path = refs/proxifyre
	url = https://github.com/wiresock/proxifyre.git
[submodule "refs/gopacket"]
	path = refs/gopacket
	url = https://github.com/google/gopacket.git
[submodule "refs/amneziawg-go"]
	path = refs/amneziawg-go
	url = https://github.com/Fokir/amneziawg-go.git
[submodule "refs/amneziawg-windows-client"]
	path = refs/amneziawg-windows-client
	url = https://github.com/amnezia-vpn/amneziawg-windows-client.git
[submodule "refs/tailscale-wf"]
	path = refs/tailscale-wf
	url = https://github.com/Fokir/wf.git
[submodule "refs/mullvad-split-tunnel"]
	path = refs/mullvad-split-tunnel
	url = https://github.com/mullvad/win-split-tunnel.git
[submodule "refs/WireSockUI"]
	path = refs/WireSockUI
	url = git@github.com:wiresock/WireSockUI.git
[submodule "refs/gopsutil"]
	path = refs/gopsutil
	url = https://github.com/shirou/gopsutil
[submodule "refs/win-split-tunnel"]
	path = refs/win-split-tunnel
	url = https://github.com/mullvad/win-split-tunnel.git
[submodule "refs/wireguard-windows"]
	path = refs/wireguard-windows
	url = https://github.com/WireGuard/wireguard-windows.git
[submodule "refs/mullvadvpn-app"]
	path = refs/mullvadvpn-app
	url = https://github.com/mullvad/mullvadvpn-app.git
[submodule "refs/noisysockets"]
	path = refs/noisysockets
	url = https://github.com/noisysockets/noisysockets.git
